<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110863522126-cl353r45kfoi430j8i3rs9lie4gtqos3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110863522126-cl353r45kfoi430j8i3rs9lie4gtqos3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>110863522126-jeletnmo0qj7epa0lfj7577smjr62e7u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBChU2I2YrejCRDGpYHbXPAmCSbwYvR82E</string>
	<key>GCM_SENDER_ID</key>
	<string>110863522126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.medial.reproducer.ios</string>
	<key>PROJECT_ID</key>
	<string>medial-reproducer</string>
	<key>STORAGE_BUCKET</key>
	<string>medial-reproducer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110863522126:ios:9b432a1fda3996ee28e61f</string>
</dict>
</plist>